.chat-box-footer {
    background-color: #e2e2e2;
    padding: 16px 10px;
    display: flex;
    justify-content: space-between;
    button {
        background-color: #f7fb00;
        padding: 5px 20px;
        color: #2d4d3e;
        border: 1px dashed #2d4d3e;
        cursor: pointer;
        border-radius: 4px;
        outline: none;
    }
    .attachment {
        color: #ababab;
        cursor: pointer;
        font-size: 25px;
    }
}